<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details income and expenses</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Ammount</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of incomeExpense | orderIncome">
                            <td>{{item.description}}</td>
                            <td>{{item.amount | currency}}</td>
                            <td [class.text-success]="item.type ==='income'" [class.text-danger]="item.type ==='expense'">

                                {{item.type}}</td>
                            <td> <button type="button" class="btn btn-danger" (click)="delete(item?.uid)"> 
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </button>

                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>